@import "./media/index-computer.css";
@import "./media/index-phone.css" screen and (max-width: 523px);

body {
    background-image: url(../img/index/background.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-size: 1.6rem;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 610px;
    height: 100%;
    color: white;
    text-shadow: 0 0 14px black, -1px 0 6px black, 0 -1px 6px black, -2px 0 4px black, 0 -2px 4px black;
    text-align: center;
}

h3, h4 {
    font-weight: normal;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.places, .user-prefs {
    position: relative;
}

.places img {
    width: 250px;
    border-radius: 30px;
}

footer *:hover {
    cursor: pointer;
}

footer h4 {
    position: absolute;
    display: inline;
}

.places h4 {
    right: 90px;
    top: 10px;
}

.user-prefs img {
    width: 300px;
}

.user-prefs h4 {
    left: 85px;
    top: 55px;
}